# Django Secret Key - Generate a new one for production!
SECRET_KEY=your-secret-key-goes-here

# Debug Mode (True for development, False for production)
DEBUG=True 
# Allowed Hosts (comma separated values)
ALLOWED_HOSTS=127.0.0.1,localhost
